html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.plant-details {
  width: 100vw;
  height: 100vh;
  background-color: #aedba5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plant-details__container {
  margin: 5rem;
  background-color: #fff;
  box-shadow: -2px -1px 27px -13px rgba(5, 4, 4, 1);
  -webkit-box-shadow: -2px -1px 27px -13px rgba(5, 4, 4, 1);
  -moz-box-shadow: -2px -1px 27px -13px rgba(5, 4, 4, 1);
}
.plant-details__header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.plant-details__back {
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
}
.plant-details__back span {
  margin-left: 1.5rem;
}
.plant-details__like {
  font-size: 2rem;
  color: #999;
  cursor: pointer;
}
.plant-details__content {
  display: flex;
}
.plant-details__content > div {
  padding: 4rem;
}
.plant-details__img {
  width: 40%;
}
.plant-details__img img {
  width: 100%;
}
.plant-details__info {
  width: 60%;
  border-left: 1px solid #eee;
}
.plant-details__title {
  font-size: 2rem;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.plant-details__cate {
  color: #999;
  display: block;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.plant-details__price {
  font-size: 2rem;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 2rem;
  display: block;
}
.plant-details__desc {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #999;

  margin-bottom: 2rem;
}
.plant-details__btn {
  outline: none;
  cursor: pointer;
  color: #999;
  text-transform: uppercase;
  border: 1px solid currentColor;
  padding: 1rem 3rem;
  min-width: 15rem;
  font-size: 1.4rem;
}
.plant-details__btn:first-of-type {
  margin-right: 1rem;
}
