$primary-color: #ffc87a;
$text-color: #1a2b5f;
$text-gray: #c6cad7;
html {
  font-size: 62.5%;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  display: block; //can set margin
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  color: $text-color;
  line-height: 1.4;
  padding-bottom: 20rem;
  font-weight: 400;
}
.wrapper {
  max-width: 1448px;
  margin: 0 auto; // center when screen larger than 1140px
}
.container {
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.header {
  padding-top: 4rem;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu {
    &-list {
      display: flex;
      align-items: center;
    }
    &-item {
      margin-left: 5rem;
      &:last-child {
        margin-left: 7rem;
      }
    }
    &-link {
      color: $text-color;
      font-size: 1.6rem;
      transition: all 0.25s linear;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: $text-color;
  &__text {
    color: $primary-color;
  }
}
.banner {
  padding-bottom: 15rem;
  padding-top: 15rem;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
  &__heading {
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 2rem;
  }
  &__desc {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 4rem;
  }
  &__btns {
    display: flex;
    justify-content: center;
    align-items: stretch;
    .btn {
      margin: 0rem 1rem;
    }
  }
}
.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: $text-color;
  background-color: transparent;
  display: inline-block;
  border: 0;
  padding: 1.5rem 3rem;
  &--border {
    border: 1px solid;
  }
  &--round {
    border-radius: 5rem;
  }
  &--primary {
    background: hsla(35, 73%, 77%, 1);

    background: linear-gradient(
      90deg,
      hsla(35, 73%, 77%, 1) 40%,
      hsla(35, 100%, 74%, 1) 54%
    );

    background: -moz-linear-gradient(
      90deg,
      hsla(35, 73%, 77%, 1) 40%,
      hsla(35, 100%, 74%, 1) 54%
    );

    background: -webkit-linear-gradient(
      90deg,
      hsla(35, 73%, 77%, 1) 40%,
      hsla(35, 100%, 74%, 1) 54%
    );

    &.has-shadow {
      box-shadow: 0 10px 35px -5px $primary-color;
    }
  }
}
.cate {
  &__list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: calc(25% - 22.5px);
    padding: 2.5rem;
    background-color: white;
    border-radius: 20px;
    //title 2 row -> fix position
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    &:first-child {
      box-shadow: 0 20px 35px -5px rgba(31, 116, 72, 0.25);
    }
    &:nth-child(2) {
      box-shadow: 0 20px 35px -5px rgba(226, 60, 70, 0.25);
    }
    &:nth-child(3) {
      box-shadow: 0 20px 35px -5px rgba(147, 98, 123, 0.5);
    }
    &:last-child {
      box-shadow: 0 20px 35px -5px rgba(136, 95, 70, 0.5);
    }
  }
  &__img {
    border-radius: inherit;
    height: 23rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 4rem;
  }
  &__name,
  &__details {
    // title larger than one row -> ...
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__name {
    font-size: 2.5rem;

    margin-bottom: 2.5rem;
  }
  &__details {
    font-size: 1.4rem;
    color: $text-gray;
    margin-top: auto; //pull all content to bottom
    i {
      margin-left: 1.5rem;
    }
  }
}
.feature {
  padding-top: 18rem;
  &__item {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    & > div {
      width: 50%;
    }
  }
  &__info {
    padding-left: 10rem;
  }
  &__title {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
  }
  &__desc {
    font-weight: 300;
    margin-bottom: 4rem;
    font-size: 1.4rem;
    line-height: 1.8;
  }
  &-intro {
    &__item {
      font-weight: 600;
      margin-bottom: 2rem;
      text-decoration: underline;
      font-size: 1.8rem;
    }
  }
  &__img img {
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
  }
}
